body {
  margin: 0;
  background-image: url("https://raw.githubusercontent.com/defyspace/websitemelon/main/images/bg_main.png");
        background-repeat: repeat-y;
  background: blue;
  text-align: center;
}
